<div class="container">
	<div class="form-group">
		<a class="btn btn-info" href="#/new" title="Ajouter un message">Nouveau</a>
	</div>
	<div class="form-group">
		<label>Recherche</label>
		<input type="text" class="form-control" ng-model="search" placeholder="Entre votre texte">
	</div>
	<table class="table table-condensed">
		<tr>
			<th>#</th>
			<th>Utilisateur</tH>
			<th colspan="2">Message</th>
		</tr>
		<tr ng-repeat="message in messages | filter: {content: search}">
			<td>{{$index}}</td>
			<td>{{message.user | uppercase }}</td>
			<td>{{message.content}}</td>
			<td><button type="button" class="btn btn-danger" ng-click="delete($index)" style="width:36px;float:right">x</button></td>
		</tr>
	</table>
</div>