<div class="container">
	<div>
		<h3>Nouveau message</h3>
		<div class="form-group">
			<label>Votre nom</label>
			<input type="text" class="form-control" ng-model="user" placeholder="Entre votre nom">
			<label>Votre message</label>
			<input type="text" class="form-control" ng-model="content" placeholder="Entre votre message">
		</div>
		<div class="form-group">
			<a class="btn btn-danger col-md-4" href="#/">Annuler</a>
			<button type="button" class="btn btn-success col-md-4 col-md-offset-4" ng-click="add()">Ajouter</button>
		</div>
	</div>
</div>